:root {
    --gap-size: 20px;
    --global-margin-top: 20px;
}

.settings-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: var(--gap-size);
    margin-bottom: 1em;
}

.slider-label {
    display: flex;
    align-items: center;
    white-space: nowrap; /* Prevents wrapping and ensures label and slider are on the same line */
}

.value-display {
    display: inline-block;
    width: 3em; /* Enough space to accommodate '100%' */
    text-align: right;
}

.margin-right {
    margin-right: 20px;
}

.page-container {
    margin-top: var(--global-margin-top);
}
