@using DimonSmart.StringDiff

<div>
    @if (!string.IsNullOrEmpty(HeaderText))
    {
        <div class="diffviewbox-header-text">@HeaderText</div>
    }
    <div class="diffviewbox-container">
        @StringDiffHighlightedResult
    </div>
    <div class="diffviewbox-legend">
        <span class="diffviewbox-inserted-text">Added</span>
        <span class="diffviewbox-deleted-text">Deleted</span>
        <span class="diffviewbox-modified-text">Modified</span>
        <span class="diffviewbox-unchanged-text">Unchanged</span>
    </div>
</div>

@code {
    private MarkupString StringDiffHighlightedResult { get; set; }
    private TextDiff? _diff;

    [Parameter]
    public string? HeaderText { get; set; }

#pragma warning disable BL0007
    [Parameter]
    public TextDiff? Diff
    {
        get => _diff;
        set
        {
            _diff = value;
            if (_diff == null)
            {
                StringDiffHighlightedResult = new MarkupString();
                return;
            }
            var reconstructor = new HighlightedStringReconstructor();
            StringDiffHighlightedResult = new MarkupString(reconstructor.Reconstruct(_diff.Edits, _diff.SourceText));
        }
    }
}
