<div class="log-viewer" @ref="_logContainer">
    @((MarkupString)_logContent)
</div>

<style>
    .log-viewer {
        width: 100%;
        height: auto;
        border: 1px solid #ccc;
        padding: 10px;
        overflow-y: auto;
        font-family: Consolas, monospace;
        white-space: pre-wrap;
        line-height: 0.8;
    }
</style>

@code {
    private string _logContent = string.Empty;
    private ElementReference _logContainer;

    public Task AddLogEntryAsync(string message)
    {
        _logContent += message + "<br />";
        StateHasChanged();
        return Task.CompletedTask;
    }

    public async Task ClearAsync()
    {
        _logContent = string.Empty;
        await InvokeAsync(StateHasChanged);
    }
}
