
.settings-container {
    display: grid;
    grid-template-columns: auto auto;
    gap: 0.5em;
   
}

.setting-container {
    display: flex;
    align-items: center;
    white-space: nowrap;
    flex-basis: 120px;
    gap: inherit;
}

    .setting-container label {
        flex: 0;
        min-width: fit-content;
        white-space: nowrap;
        margin-right: 1rem;
        justify-self: end;
    }

    .setting-container input,
    .setting-container select,
    .setting-container textarea,
    .setting-container RotationControl,
    .setting-container ColorPicker {
        width: 100%; /* Set width to fill grid cell, instead of flexing */
        max-width: 200px; /* Limit the width for compactness */
        min-width: 80px; /* Sets a minimum width for input fields */
    }

.slider-label {
    display: flex;
    align-items: center;
    white-space: nowrap; /* Prevents wrapping and ensures label and slider are on the same line */
}

.value-display {
    display: inline-block;
    width: 3em; /* Enough space to accommodate '100%' */
    text-align: right;
}


