
.settings-container {
    display: flex;
    flex-wrap: wrap;
    flex-flow: column;
    overflow: hidden;
    box-sizing: border-box;
    flex: 1;
    gap: 0.25Em;
}

.setting-container {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 300px;
    min-width: 300px;
    justify-content: space-between;
    gap: var(--gap-size);
    align-items: stretch;
}

    .setting-container label {
        flex: 0;
        min-width: fit-content;
        white-space: nowrap;
        margin-right: 1rem;
    }

    .setting-container input,
    .setting-container select,
    .setting-container textarea,
    .setting-container RotationControl,
    .setting-container ColorPicker {
        flex: 2;
    }

.slider-label {
    display: flex;
    align-items: center;
    white-space: nowrap; /* Prevents wrapping and ensures label and slider are on the same line */
}

.value-display {
    display: inline-block;
    width: 3em; /* Enough space to accommodate '100%' */
    text-align: right;
}


