@page "/bulbs"

<h3>Bulb Lighting</h3>
<button @onclick="LightUpBulbs">Light Up</button>
<div style="display:flex; flex-wrap:wrap;">
    @foreach (var bulb in bulbs)
    {
        <div style="width:20px; height:20px; margin:2px; background-color:@(bulb.IsLit ? "yellow" : "gray");"></div>
    }
</div>

@code {
    private Bulb[] bulbs = new Bulb[1000];

    protected override void OnInitialized()
    {
        for (int i = 0; i < bulbs.Length; i++)
        {
            bulbs[i] = new Bulb();
        }
    }

    private async Task LightUpBulbs()
    {
        for (int i = 0; i < bulbs.Length; i++)
        {
            bulbs[i].IsLit = true;
            await Task.Delay(500); // Delay for 500 milliseconds
            // StateHasChanged();



            await InvokeAsync(() =>
               {
                   StateHasChanged(); 
               });
            

        }
    }


public class Bulb
{
    public bool IsLit; // { get; set; }
}
}