@inject PageTitleService PageTitleService
<link rel="stylesheet" href="css/demos.css" />


@page "/"
@using Demo.Services

<PageTitle>DimonSmart home</PageTitle>
<div class="page-container">
    <section>
        <p>
            Hi, I'm DimonSmart, a professional C# developer, speaker, and YouTuber with a programming-related channel.
            I enjoy sharing my knowledge and creating useful projects for the developer community.
            <br />
        </p>
    </section>

    <section>
        <div class="card-container">
            <div class="card">
                <img src="images/stringdiff-small.png" alt="StringDiff Project Image">
                <div class="card-content">
                    <h3>String Diff</h3>
                    <p>A tool for comparing differences between strings with exact diff or forced diff by words</p>
                    <a href="stringdiffdemo" class="btn btn-secondary btn-sm rounded">Demo</a>
                    <a href="https://github.com/DimonSmart/StringDiff" class="btn btn-secondary btn-sm rounded">
                        <i class="fab fa-github"></i> GitHub
                    </a>
                </div>
            </div>
            <div class="card">
                <img src="images/mazegenerator-small.png" alt="Maze Generator Project Image">
                <div class="card-content">
                    <h3>Maze Generator</h3>
                    <p>Maze generation algorithm visualization mazes with customizable parameters</p>
                    <a href="mazegeneratordemo" class="btn btn-secondary btn-sm rounded">Demo</a>
                    <a href="https://github.com/DimonSmart/MazeGenerator" class="btn btn-secondary btn-sm rounded">
                        <i class="fab fa-github"></i> GitHub
                    </a>
                </div>
            </div>
            <div class="card">
                <img src="images/pathfindingwave_small.png" alt="Path Finding Wave Algorithm Project Image">
                <div class="card-content">
                    <h3>Path Finding Wave Algorithm</h3>
                    <p>Maze path finding wave algorithm visualization</p>
                    <a href="mazepathfinderdemo" class="btn btn-secondary btn-sm rounded">Demo</a>
                    <a href="https://github.com/DimonSmart/MazeGenerator" class="btn btn-secondary btn-sm rounded">
                        <i class="fab fa-github"></i> GitHub
                    </a>
                </div>
            </div>
            <div class="card">
                <img src="images/hashx-small.png" alt="Low collision custom length hashing algorithm image">
                <div class="card-content">
                    <h3>HashX hashing algorithm</h3>
                    <p>Low collision custom length hashing algorithm (HashX) demo</p>
                    <a href="hashxdemo" class="btn btn-secondary btn-sm rounded">Demo</a>
                    <a href="https://github.com/DimonSmart/HashX" class="btn btn-secondary btn-sm rounded">
                        <i class="fab fa-github"></i> GitHub
                    </a>
                </div>
            </div>
            <div class="card">
                <img src="images/tsm-small.png" alt="Traveling Salesman image">
                <div class="card-content">
                    <h3>Traveling Salesman</h3>
                    <p>Genetic algorithm application for the traveling salesman problem</p>
                    <a href="tsm" class="btn btn-secondary btn-sm rounded">Demo</a>
                    <a href="https://github.com/DimonSmart/StringArtX" class="btn btn-secondary btn-sm rounded">
                        <i class="fab fa-github"></i> GitHub
                    </a>
                </div>
            </div>
            <div class="card">
                <img src="images/bjgame-small.png" alt="Black jack game image">
                <div class="card-content">
                    <h3>Black Jack game</h3>
                    <p>Black Jack game simulator.</p>
                    <a href="bjgame" class="btn btn-secondary btn-sm rounded">Demo</a>
                </div>
            </div>

            <!-- Additional cards can be added here -->
        </div>
    </section>
</div>

@code {
    protected override void OnInitialized()
    {
        base.OnInitialized();
        PageTitleService.SetTitle("My projects");
    }
}

<style>
    .card {
        flex: 1 1 calc(33.333% - var(--gap-size));
        display: flex;
        flex-direction: column;
        min-width: 200px;
        max-width: 400px;
        border: 2px solid black;
        padding: 20px;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
        border-radius: 8px;
        overflow: hidden;
        box-sizing: border-box;
        flex-grow: 1;
    }

        .card img {
            max-width: 100%;
            height: auto;
            display: block;
            object-fit: cover;
        }

    .card-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: left;
        gap: var(--gap-size);
    }
</style>