@page "/mazegeneratordemo"

@using Demo.Components
@using DimonSmart.MazeGenerator

@implements IMazePlotter



<PageTitle>Maze Generator Demo</PageTitle>

<h1>Maze Generator Demo</h1>

.slider-container {
    display: flex;
    align-items: center;
}

.slider-label {
    display: flex;
    align-items: center;
    white-space: nowrap; /* Prevents wrapping and ensures label and slider are on the same line */
}

.value-display {
    display: inline-block;
    width: 3em; /* Enough space to accommodate '100%' */
    text-align: right; /* Keeps the text right-aligned so it looks consistent */
}



<section>
    <div style="margin-bottom: 20px;">
        <label>
            X Size: @XSize
            <input type="number" min="1" @bind="XSize" />
        </label>
        <br />
        <label>
            Y Size: @YSize
            <input type="number" min="1" @bind="YSize" />
        </label>
        <br />
        <div class="slider-container">
            <label class="slider-label">
                Emptiness: <span class="value-display">@Emptiness%</span>
                <input type="range" min="0" max="100" @bind-value="Emptiness" @bind-value:event="oninput" />
            </label>
        </div>
        <br />
        <label>
            Stop Wall Probability: @StopWallProbability%
            <input type="range" min="0" max="100" @bind="StopWallProbability" />
        </label>
        <br />
        <label>
            Slow Visualization
            <input type="checkbox" @bind="IsSlowVisualization" />
        </label>
        <br />
        <button @onclick="GenerateMaze">Generate Maze</button>
       
    </div>

   
        @if (_maze != null)
        {
            <div style="display: grid; grid-template-columns: repeat(@XSize, 20px); gap: 1px;">
            @for (int y = 0; y < YSize; y++)
            {
                for (int x = 0; x < XSize; x++)
                {
                    <MazeCell X=x Y=y Cell=@_maze[x, y] />
                }
            }
            </div>
        }
       
</section>

@code {
    private int _xSize = 31;
    private int XSize
    {
        get => _xSize;
        set
        {
            if (_xSize != value)
            {
                _xSize = value;
                if (!IsSlowVisualization) GenerateMaze();
            }
        }
    }

    private int _ySize = 21;
    private int YSize
    {
        get => _ySize;
        set
        {
            if (_ySize != value)
            {
                _ySize = value;
                if (!IsSlowVisualization) GenerateMaze();
            }
        }
    }

    private int _emptiness = 0;
    private int Emptiness
    {
        get => _emptiness;
        set
        {
            if (_emptiness != value)
            {
                _emptiness = value;
                if (!IsSlowVisualization) GenerateMaze();
            }
        }
    }

    private double _stopWallProbability = 50.0;
    private double StopWallProbability
    {
        get => _stopWallProbability;
        set
        {
            if (_stopWallProbability != value)
            {
                _stopWallProbability = value;
                if (!IsSlowVisualization) GenerateMaze();
            }
        }
    }

    private bool _isSlowVisualization = false;
    private bool IsSlowVisualization
    {
        get => _isSlowVisualization;
        set
        {
            if (_isSlowVisualization != value)
            {
                _isSlowVisualization = value;
            }
        }
    }
    private Maze? _maze;

    protected override void OnInitialized()
    {
        // GenerateMaze();
    }

    CancellationTokenSource cancellationTokenSource = new CancellationTokenSource();

    private void CancelGeneration()
    {
        cancellationTokenSource.Cancel();
        cancellationTokenSource = new CancellationTokenSource();
    }

    private bool _generationInProgress = false;

    private void GenerateMaze()
    {
        if (_generationInProgress) return;

        _generationInProgress = true;
        CancelGeneration();
        var options = new DimonSmart.MazeGenerator.MazeGenerateOptions(StopWallProbability / 100, Emptiness / 100.0);
        var delay = IsSlowVisualization ? TimeSpan.FromMilliseconds(500) : TimeSpan.Zero;
        // var mazePlotter = new MazePlotter(this, delay);
        _maze = new Maze(XSize, YSize, () => new Demo.Models.MazeCell());
        new MazeBuilder<MazeCell>(_maze, options).BuildAsync(this, cancellationTokenSource.Token);
        _generationInProgress = false;
    }

    // private async void FindPath()
    // {
    //     if (_maze == null) return;
    //     var wavePlotter = new MazePlotter(this, TimeSpan.FromMicroseconds(25));
    //     var result = await Task.Run(() => _maze.FindPath(1, 1, GetEndPointCriteria(XSize - 2, YSize - 2), wave =>
    //     {
    //         wave.VisualizeWave(wavePlotter);
    //         if (IsSlowVisualization)
    //         {
    //             Task.Delay(500);
    //         }
    //     }));
    // 
    //     if (result != null)
    //     {
    //         result.VizualizePath(wavePlotter);
    //     }
    //     StateHasChanged();
    // }

    private string GetCellColor(int x, int y) => _maze?.IsWall(x, y) ?? false ? "black" : "white";

    private static Func<int, int, bool> GetEndPointCriteria(int endX, int endY)
    {
        return (x, y) => x == endX && y == endY;
    }

    public async Task PlotPassageAsync(int x, int y)
    {
        StateHasChanged();
        await Task.Delay(500);
    }

    public async Task PlotWallAsync(int x, int y)
    {
        StateHasChanged();
        await Task.Delay(500);
    }
}
