@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Components.Web
@using SkiaSharp

<div id="@Id" class="color-picker-container">
    @foreach (var color in AllowedColors)
    {
        var c = color;
        <div class="color-square @(c == SelectedColor ? "selected" : string.Empty)"
             @onclick="() => SelectColor(c)"
             title="@c.ToString()"
             style="background-color: @GetHexColor(c)">
        </div>
    }
</div>

@code {
    [Parameter]
    public IEnumerable<SKColor> AllowedColors { get; set; } = new List<SKColor> { SKColors.Red, SKColors.Green, SKColors.Blue };

    [Parameter]
    public string Id { get; set; } = string.Empty;

    [Parameter]
    [EditorRequired]
    public SKColor SelectedColor { get; set; }

    [Parameter]
    public EventCallback<SKColor> SelectedColorChanged { get; set; }

    private async Task SelectColor(SKColor color)
    {
        SelectedColor = color;
        await SelectedColorChanged.InvokeAsync(color);
        StateHasChanged();
    }

    private string GetHexColor(SKColor color)
    {
        return $"#{color.Red:X2}{color.Green:X2}{color.Blue:X2}{color.Alpha:X2}";
    }
}

