<div class="joystick" style="width:@Width; height:@Height;">
    <div class="joystick-grid">
        <div></div>
        <button class="joystick-button joystick-button--up" @onclick="HandleUpClicked">↑</button>
        <div></div>

        <button class="joystick-button joystick-button--left" @onclick="HandleLeftClicked">←</button>
        <div></div>
        <button class="joystick-button joystick-button--right" @onclick="HandleRightClicked">→</button>

        <div></div>
        <button class="joystick-button joystick-button--down" @onclick="HandleDownClicked">↓</button>
        <div></div>
    </div>
</div>

@code {
    [Parameter] public string Width { get; set; } = "100%";
    [Parameter] public string Height { get; set; } = "100%";

    [Parameter] public EventCallback OnUpClicked { get; set; }
    [Parameter] public EventCallback OnDownClicked { get; set; }
    [Parameter] public EventCallback OnLeftClicked { get; set; }
    [Parameter] public EventCallback OnRightClicked { get; set; }

    private async Task HandleUpClicked()
    {
        if (OnUpClicked.HasDelegate)
            await OnUpClicked.InvokeAsync();
    }

    private async Task HandleDownClicked()
    {
        if (OnDownClicked.HasDelegate)
            await OnDownClicked.InvokeAsync();
    }

    private async Task HandleLeftClicked()
    {
        if (OnLeftClicked.HasDelegate)
            await OnLeftClicked.InvokeAsync();
    }

    private async Task HandleRightClicked()
    {
        if (OnRightClicked.HasDelegate)
            await OnRightClicked.InvokeAsync();
    }
}
