@using Demo.Demos.BJ

<div class="player-hands-container">
    @foreach (var hand in Hands)
    {
        <div class="hand-wrapper">
            <PlayingHand Hand="@hand" />
        </div>
    }
</div>

@code {
    [Parameter] public required IEnumerable<Hand> Hands { get; set; }
    [Parameter] public required string Title { get; set; }
}

<style>
    .player-hands-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 10px; /* Adjust the gap between hands as needed */
    }

    .hand-wrapper {
        flex: 1 1 100px; /* Adjust the minimum width of each hand as needed */
    }
</style>