.hand-container {
    display: flex;
    flex-direction: column;
    padding: 5px;
    background-color: #f3f3f3;
    border-radius: 8px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
}

.hand-info {
    font-size: 0.75em;
    margin-bottom: 10px;
    display: flex;
    gap: 10px;
    align-items: center;
}

.total-score, .badge {
    padding: 2px 6px;
    border-radius: 4px;
    font-weight: bold;
}

.total-score {
    background-color: #007bff;
    color: white;
    font-weight: bold;
}

.badge-active {
    background-color: #007bff;
}

.badge-inactive {
    background-color: lightgray;
}

.hand-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}
