.hand-container {
    display: flex;
    flex-direction: column;
    padding: 5px;
    background-color: #f3f3f3;
    border-radius: 8px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
    width: auto;
}

.hand-info {
    font-size: 0.75em;
    margin-bottom: 10px;
    display: flex;
    gap: 10px;
    align-items: center;
}

.total-score, .badge {
    padding: 2px 6px;
    border-radius: 4px;
    font-weight: bold;
}

.total-score {
    background-color: #007bff;
    color: white;
    font-weight: bold;
}

.badge-active {
    background-color: #007bff;
}

.badge-inactive {
    background-color: lightgray;
}

.badge-busted {
    background-color: #f44336;
}

.hand-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.game-result-container {
    font-size: 0.75em;
    display: flex;
    gap: 10px;
    margin-top: 10px;
    align-items: center;
    display: flex;
    justify-content: space-between; /* Spread content */
}

.game-result-badge, .game-result-text {
    padding: 2px 6px;
    border-radius: 4px;
    font-weight: bold;
    font-size: 1em;
}

.game-result-badge {
    background-color: #28a745; /* Green background for positive result */
    color: white;
}

/* Positive and Negative Result Badges for Outcome */
.game-result-badge-positive {
    background-color: #28a745; /* Green for positive outcome */
    color: white;
}

.game-result-badge-negative {
    background-color: #dc3545; /* Red for negative outcome */
    color: white;
}

/* Ensure proper contrast for negative and positive descriptions */
.game-result-text-positive {
    background-color: #28a745; /* Green for positive result description */
    color: white !important;
}

.game-result-text-negative {
    background-color: #ffc107; /* Yellow for negative result description */
    color: black !important;
}