name: Deploy Blazor WebAssembly to GitHub Pages

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '10.0.102'

    - name: Restore dependencies
      run: dotnet restore Demo/Demo.csproj

    - name: Install wasm-tools workload
      run: dotnet workload install wasm-tools

    - name: Update base href in index.html
      if: false
      run: sed -i 's|<base href="/" />|<base href="/Demo/" />|g' Demo/wwwroot/index.html

    - name: Publish
      run: dotnet publish Demo/Demo.csproj -c release -o release

    - name: copy index.html to 404.html
      run: cp ./release/wwwroot/index.html ./release/wwwroot/404.html

    - name: Deploy to GitHub Pages
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./release/wwwroot
        cname: dimonsmart.is-a.dev
        enable_jekyll: false
