@page "/qr-transfer/send"

<PageTitle>QR transfer - send</PageTitle>

<div class="alert alert-warning" role="alert">
    <strong>Внимание.</strong> Эта демонстрационная страница предназначена только для изучения теоретической
    возможности передачи данных через QR-коды и не должна использоваться для несанкционированного доступа к
    информации.
</div>

<div class="d-flex justify-content-end mb-3">
    <a class="btn btn-outline-info btn-sm" href="/qr-transfer/protocol" target="_blank" rel="noopener">
        Как это работает?
    </a>
</div>

<QrTransferSenderTab />

@inject IPageTitleService PageTitleService

@code {
    protected override void OnInitialized()
    {
        PageTitleService.SetTitle("QR transfer - send");
    }
}
